.nav-bar,.nav-bar a {
background-color: rgb(36, 34, 34);
color: white;
margin: 25px;
padding: 10px;
width: 2000;
border-radius: 0.8em;


}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
  
}
.file{
    float: right;
}

h1{
    font-size: 40px;
   
}
h2{
    font-size: 30px;
}


.blue{
  background-color: lightblue;
}
.beach{
 background-color: bisque;
}
code{
    background-color: rgb(62, 62, 62);
    color: white;
    padding: 10px;
    border-radius: 0.5em;
    display: block;
}
footer {
    background-color: rgb(62, 62, 62);
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
  }
 
  footer ul {
    list-style: none;
  }
  footer ul li a {
    text-decoration: none;
    color: white;
    margin-left: -40px;
  }
  .footer-top {
    display: flex;
  }
  
  .footer-link-group {
    flex: 2;
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    margin: 0 auto;
  }